.custom-calendar {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
}

.custom-calendar .react-datepicker__day-name {
  font-weight: bold;
  text-transform: uppercase; /* nếu muốn in hoa */
  color: white;
}

.custom-calendar .react-datepicker__day {
  font-family: "Poppins", sans-serif !important; /* đổi font */
  color: rgba(255, 255, 255, 0.8);
}

.custom-calendar .react-datepicker__day--today {
  color: var(--color-proPurple); /* màu chữ cho hôm nay */
  font-weight: 600;
  border-radius: 0.5rem; /* bo tròn */
}

.custom-calendar .react-datepicker__day--selected {
  background-color: var(--color-proPurple) !important; /* nền ngày được chọn */
  color: white !important; /* chữ ngày được chọn */
  font-family: "Poppins", sans-serif !important; /* font */
  font-weight: 700; /* optional: font-bold */
  border-radius: 0.5rem; /* bo tròn ô ngày */
}

.custom-calendar .react-datepicker__day--disabled {
  color: rgba(255, 255, 255, 0.2); /* màu nhạt hơn cho ngày bị khóa */
  background-color: transparent;
  cursor: not-allowed;
  font-family: "Poppins", sans-serif;
}

.custom-calendar
  .react-datepicker__day:hover.custom-calendar
  .react-datepicker__day--enable {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem; /* bo tròn giống ngày chọn */
  cursor: pointer;
}

/* Container popup */
.custom-calendar .react-datepicker__header {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.react-datepicker__navigation {
  top: 10px;
}

.custom-calendar .react-datepicker__header .react-datepicker__current-month {
  color: var(--color-proPurple);
  font-weight: 600;
}
