@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
}

@theme {
  --color-primary: #1a1a1a;
  --color-black404040: #404040;
  --primary-padding: 6.25rem;
  --gradient-for-text-WINDFLOW: to right, var(--color-proPurple) 0%,
    var(--color-proPink) 100%;
  --color-proPurple: #7f6ae4;
  --color-proPink: #ff00cc;
  --linearGradient-1: to bottom, rgba(168, 162, 198, 0.3) 5%,
    rgba(95, 81, 165, 0.3) 15% 85%, rgba(174, 85, 173, 0.3) 95%;
}
